:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
    background-image: linear-gradient(120deg, #daa5f3 0%, #a5dcf3 100%);
  }
  
  .hero-section{
    align-items: flex-start;
    
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }

nav {
  z-index: 3;
  margin-top: 25px;
  display:flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px;
}

  .lol {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    position: relative;
    padding: 200px;
    margin-top: -270px;
  }

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .full-screen__title {
    font-size: 50px;
    letter-spacing: 25px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
  }
  .full-screen__text {
    font-size: 18px;
    letter-spacing: 15px;
  }
  .full-screen__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .full-screen__video {
    filter: brightness(0.5);
  }

  #square {
    width: 620px;
    height: 520px;
    background: #161616;
    opacity: 0.7;
    border-radius: 40px;
    margin-top: -1100px;
    margin-left: -900px;
}

#square2 {
  width: 520px;
  height: 420px;
  background: #aaa2a2;
  opacity: 0.1;
  border-radius: 40px;
  margin-top: -470px;
  margin-left: -900px;
  
}

p {
  font-size: 300px;
  color: white;
  margin-top: 1070px;
  margin-left: -300px;
}